*{
    font-family: 'Courier New', Courier, monospace;
}
body{
    background-color: gray;
}
#titulo{
    font-weight: bold;
    font-style: initial;
    background-color: lightcoral;
    letter-spacing: 5px;
    text-align: center;
    color: rgb(253, 253, 253);
}
.parrafos{
    background-image:url(../img/sakura.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 10px;
    text-align: center;
    color: rgb(5, 86, 168);
}
